<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

<link href="/favicon.ico" type="image/x-icon" rel="icon" /><link href="/favicon.ico" type="image/x-icon" rel="shortcut icon" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" />

<title>HPert.com</title>

</head>
<body>

	<div id="header">
		<div class="logo"> </div>
		<div id="wrapper">
			<div class="contact">
				<a href="/Pages/contact"> </a>
			</div>
			<ul class="menu">
				<li id="first"><a href="/">صفحه اصلی</a></li><li><a href="/users/register">عضويت در زرين پال</a></li><li><a href="/pages/rules/terms">قوانين اجرائی</a></li><li><a href="/pages/rules/privacy">سياست امنيت اطلاعات</a></li><li><a href="/pages/labs/index/">آزمايشگاه زرين پال</a></li><li><a href="/pages/hints/about-us">درباره ما</a></li>
			</ul>
		</div>

	</div>
	
	<div id="wrapper" class="main">
		
		<div id="content">
					<h2>صفحه اصلی</h2>
					<p style="text-align: justify;">زرين پال امکان انجام تراکنش های مالی از طريق اينترنت را به صورت ساده و امن ميسر مي سازد. شما به وسيله زرين  پال امکان انجام کليه تراکنش های مالی از طريق اينترنت و يا خريد از طريق وبسايت های  پذيرنده زرين پال از طريق دروازه پرداخت زرين پال را دارا مي باشيد. هم چنين اگر شما فروشنده کالا بر روی اينترنت می باشيد، زرين پال اين امکان را برای شما همکار گرامی به وجود آورده تا از طريق درخواست دروازه پرداخت، اقدام به فروش کالا و يا سرويس خود از طريق اينترنت در چارچوب <a href="/pages/rules/privacy">سياست امنيت اطلاعات زرين پال</a> و <a href="/pages/rules/terms">قوانين زرين پال</a> و جمهوری اسلامی ايران نموده و تجارت خود را رونق دهيد. به زبان ساده، اگر قصد انجام تراکنش های مالی و جابجايي پول در اينترنت را داريد،  هم اکنون و فارغ از نگراني های گذشته به زرين پال پيوسته و تجارت خود را آغاز کنيد.
					</p>
					<a href="" class="vps"></a>
					<a href="" class="reseller"></a>
					<a href="" class="domain"></a>
					<a href="" class="hosting"></a>
		</div>
		
		<div id="left">
			<div class="menu-box normal">
					<h2>پنل کاربران</h2>
						<form id="UserLogin" method="post" action="/users/login"><fieldset style="display:none;"><input type="hidden" name="_method" value="POST" /><input type="hidden" name="data[_Token][key]" value="f871d530a3fc72b2f0f977e7512c25080f440b38" id="Token459533045" /></fieldset><div class="input text"><label for="UserEmail">آدرس پست الکترونيکی</label><input name="data[User][email]" type="text" class="input-eng" maxlength="35" value="" id="UserEmail" /></div><div class="input password"><label for="UserPassword">کلمه عبور</label><input type="password" name="data[User][password]" class="input-eng" value="" id="UserPassword" /></div><br><center><a href="/users/forget_password">بازیابی رمز عبور</a></center><br /><div class="submit"><input type="submit" class="submit" value="ورود به سيستم" /></div><fieldset style="display:none;"><input type="hidden" name="data[_Token][fields]" value="ab4faceb19a0f10f7239dfcd4d690f19de2effcd%3An%3A0%3A%7B%7D" id="TokenFields20007820" /></fieldset></form>					
			</div>
			<div class="menu-box normal">
					<h2>پنل کاربران</h2>
						<form id="UserLogin" method="post" action="/users/login"><fieldset style="display:none;"><input type="hidden" name="_method" value="POST" /><input type="hidden" name="data[_Token][key]" value="f871d530a3fc72b2f0f977e7512c25080f440b38" id="Token459533045" /></fieldset><div class="input text"><label for="UserEmail">آدرس پست الکترونيکی</label><input name="data[User][email]" type="text" class="input-eng" maxlength="35" value="" id="UserEmail" /></div><div class="input password"><label for="UserPassword">کلمه عبور</label><input type="password" name="data[User][password]" class="input-eng" value="" id="UserPassword" /></div><br><center><a href="/users/forget_password">بازیابی رمز عبور</a></center><br /><div class="submit"><input type="submit" class="submit" value="ورود به سيستم" /></div><fieldset style="display:none;"><input type="hidden" name="data[_Token][fields]" value="ab4faceb19a0f10f7239dfcd4d690f19de2effcd%3An%3A0%3A%7B%7D" id="TokenFields20007820" /></fieldset></form>					
			</div>
			<div class="menu-box normal">
					<h2>پنل کاربران</h2>
						<form id="UserLogin" method="post" action="/users/login"><fieldset style="display:none;"><input type="hidden" name="_method" value="POST" /><input type="hidden" name="data[_Token][key]" value="f871d530a3fc72b2f0f977e7512c25080f440b38" id="Token459533045" /></fieldset><div class="input text"><label for="UserEmail">آدرس پست الکترونيکی</label><input name="data[User][email]" type="text" class="input-eng" maxlength="35" value="" id="UserEmail" /></div><div class="input password"><label for="UserPassword">کلمه عبور</label><input type="password" name="data[User][password]" class="input-eng" value="" id="UserPassword" /></div><br><center><a href="/users/forget_password">بازیابی رمز عبور</a></center><br /><div class="submit"><input type="submit" class="submit" value="ورود به سيستم" /></div><fieldset style="display:none;"><input type="hidden" name="data[_Token][fields]" value="ab4faceb19a0f10f7239dfcd4d690f19de2effcd%3An%3A0%3A%7B%7D" id="TokenFields20007820" /></fieldset></form>					
			</div>
			<div class="menu-box normal">
					<h2>پنل کاربران</h2>
						<form id="UserLogin" method="post" action="/users/login"><fieldset style="display:none;"><input type="hidden" name="_method" value="POST" /><input type="hidden" name="data[_Token][key]" value="f871d530a3fc72b2f0f977e7512c25080f440b38" id="Token459533045" /></fieldset><div class="input text"><label for="UserEmail">آدرس پست الکترونيکی</label><input name="data[User][email]" type="text" class="input-eng" maxlength="35" value="" id="UserEmail" /></div><div class="input password"><label for="UserPassword">کلمه عبور</label><input type="password" name="data[User][password]" class="input-eng" value="" id="UserPassword" /></div><br><center><a href="/users/forget_password">بازیابی رمز عبور</a></center><br /><div class="submit"><input type="submit" class="submit" value="ورود به سيستم" /></div><fieldset style="display:none;"><input type="hidden" name="data[_Token][fields]" value="ab4faceb19a0f10f7239dfcd4d690f19de2effcd%3An%3A0%3A%7B%7D" id="TokenFields20007820" /></fieldset></form>					
			</div>
			<div class="menu-box normal">
					<h2>پنل کاربران</h2>
						<form id="UserLogin" method="post" action="/users/login"><fieldset style="display:none;"><input type="hidden" name="_method" value="POST" /><input type="hidden" name="data[_Token][key]" value="f871d530a3fc72b2f0f977e7512c25080f440b38" id="Token459533045" /></fieldset><div class="input text"><label for="UserEmail">آدرس پست الکترونيکی</label><input name="data[User][email]" type="text" class="input-eng" maxlength="35" value="" id="UserEmail" /></div><div class="input password"><label for="UserPassword">کلمه عبور</label><input type="password" name="data[User][password]" class="input-eng" value="" id="UserPassword" /></div><br><center><a href="/users/forget_password">بازیابی رمز عبور</a></center><br /><div class="submit"><input type="submit" class="submit" value="ورود به سيستم" /></div><fieldset style="display:none;"><input type="hidden" name="data[_Token][fields]" value="ab4faceb19a0f10f7239dfcd4d690f19de2effcd%3An%3A0%3A%7B%7D" id="TokenFields20007820" /></fieldset></form>					
			</div>
			
			<div class="menu-box user-panel">
					<h2>پنل کاربران</h2>
						<form id="UserLogin" method="post" action="/users/login"><fieldset style="display:none;"><input type="hidden" name="_method" value="POST" /><input type="hidden" name="data[_Token][key]" value="f871d530a3fc72b2f0f977e7512c25080f440b38" id="Token459533045" /></fieldset><div class="input text"><label for="UserEmail">آدرس پست الکترونيکی</label><input name="data[User][email]" type="text" class="input-eng" maxlength="35" value="" id="UserEmail" /></div><div class="input password"><label for="UserPassword">کلمه عبور</label><input type="password" name="data[User][password]" class="input-eng" value="" id="UserPassword" /></div><br><center><a href="/users/forget_password">بازیابی رمز عبور</a></center><br /><div class="submit"><input type="submit" class="submit" value="ورود به سيستم" /></div><fieldset style="display:none;"><input type="hidden" name="data[_Token][fields]" value="ab4faceb19a0f10f7239dfcd4d690f19de2effcd%3An%3A0%3A%7B%7D" id="TokenFields20007820" /></fieldset></form>					
			</div>
			
			<div class="menu-box">
					<h2>سیاست های امنيتی</h2>
					
			</div>
		</div>
		
	</div>
	<div class="copyright">
		<div id="wrapper">
			تمامی حقوق اين وب سايت متعلق به <a href="http://samansystems.com/" targe="_blank">شرکت سيستم های يکپارچه سامان</a> می باشد.
		</div>
	</div>

</body>

</html>